# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Hardhat
cache/
artifacts/
blockchain/node_modules

blockchain/cache
blockchain/artifacts

# Frontend
.next/
build/
dist/

# OS-specific files
.DS_Store
Thumbs.db
